# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# packaging
*.egg-info/

# local output
output/
